/* this is the external css file for the HTML page */

* {
  max-height:90%;
  max-width:95%;
}

body {
  background-color: #73A9FF;
  argin-left: 20px;
}

.flex {
  display: flex;
  justify-content:center;
  align-items:center;
  align-content:space-around;
  flex-grow:3;
}

.grid {
  display:grid;
  grid-template-columns: 180px 180px 180px;
  column-gap: 10px;
  row-gap: 5px;
}


.bodyDiv {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 30pt;
  margin-top: 3pc;
  margin-left: 4pc;
  margin-bottom: 3pc;
  margin-right: 4pc;
  padding: 2vh 2vw 2vh 2vw;
}
.formDiv {
  height:80%;
  width:98%;
  border-width: 5px;
  border-style: solid;
  border-color: red;
  border-radius: 2pt;
  margin: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  
}
a {
  margin: 1em 2em 1em 2em; 
  display: inline;
  position: sticky;
  top: 20px;
}

h1.hidden {
  display: none;
}
a:active {
  color:green;
}
a:hover {
  color: black;
}
hr {
  border: 1px solid blue;
}

h1 {
  color: rgb(46, 44, 40);
  text-decoration: underline;
  text-align: center;
}
h2 {
  color: hsl(44, 29%, 7%) ;
  text-align: center;
}
h3 {
  color: darkblue ;
}
h4 {
  color: #2E0002 ;
}
p {
  font-family: "Gill Sans", sans-serif;
}

h3,h4 {
  position: static;
}

@media only screen and (min-width: 768px) {
  .bodyDiv {width: 95%;}
}

